@-webkit-keyframes comeThru {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes enter {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.enter {
  transition-timing-function: ease-out;
  -webkit-animation-name: enter;
  animation-name: enter;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  /* delay before start */
  -webkit-animation-delay: 0;
  animation-delay: 0;
}

@-webkit-keyframes exit {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes exit {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.exit {
  transition-timing-function: ease-out;
  -webkit-animation-name: exit;
  animation-name: exit;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  /* delay before start */
  -webkit-animation-delay: 0;
  animation-delay: 0;
}

/* ADA for reduced motion */
@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.stowaway {
  transform: translateY(100%);
}

.banner {
  background-color: purple;
  text-align: center;
  height: 3rem;
}

.banner-text {
  color: white;
  font-size: 1.5rem;
  margin: 0;
  line-height: 3rem;
}

#animation2 {
  position: absolute;
  width: 100%;
  top: 0px;
}
.white-link {
  color: white;
}
.white-link :hover {
  color: grey;
}
